#mainCanvas {
	border:1px solid;
	background: #FFFFFF;
}

@font-face {
	font-family: 'ARCADECLASSIC';
	font-style: normal;
	font-weight: 400;
	src: local('ARCADECLASSIC'),
		 url(res/fonts/arcadeclassic/ARCADECLASSIC.ttf) format('truetype');
}